<h1 class="display-2 text-center">PiCar Marro</h1>

<div class="container">
  <div class="jumbotron">
    <div class="container algin-center">
        <div class="row">
            <div class="col-sm">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-sm">
                <div class="d-flex flex-row-reverse">
                    <span class="badge badge-pill badge-success m-2">Running</span>
                    <span class="badge badge-pill badge-danger m-2">Stopped</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Current Sensor Array</h1>
        <div class="container algin-center">
            <div class="row">
                <div class="col-sm">
                    1
                </div>
                <div class="col-sm">
                    2
                </div>
                <div class="col-sm">
                    3
                </div>
                <div class="col-sm">
                    4
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Current Action</h1>
        <div>

        </div>
   </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Extras</h1>
        <div>

        </div>
   </div>
</div>